@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

body{
    margin:0 auto;
    max-width:1500px;
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
}
.error{
    letter-spacing: -1px;
    FONT-WEIGHT: 700;
    FONT-SIZE: 21PX;
    color: #333333;
}
header{
    font-family: 'Inconsolata', monospace;
    padding: 0px 24px;
    background-color: white;
}
main{
    padding: 24px;
    background-color: white;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}
footer{
    padding: 8px;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
img{
    max-width: 286px;
}
.texto{
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    color: #4F4F4F;
    margin-bottom: 50px;
}
h1{
    margin-top: 0px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 44px;
    color: #333333;
}
button{
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 700;
    height: 68px;
    width: 216px;
    color: white;
    background-color: #333333;
}

@media (min-width: 1440px){
    body{
        grid-template-columns: repeat(12, 1fr);
    }
    header{
        grid-column: 1 / span 12;
    }
    main{
        grid-column: 1 / span 12;
        padding: 24px;
        background-color: white;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-content: center;
    }
    footer{
        grid-column: 1 / span 12;
    }
    .img{
        grid-column: 1 / span 6;
    }
    .caja{
        grid-column: 7 / span 6;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    img{
        max-width: 539px;
    }
    .texto{
        font-family: 'Space Mono', monospace;
        font-size: 24px;
        font-weight: 400;
        color: #4F4F4F;
        margin-bottom: 50px;
        grid-column: 1 / span 7;
    }
    h1{
        margin-top: 0px;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 64px;
        color: #333333;
        grid-column: 1 / span 12;
    }
    button{
        grid-column: 1 / span 12;
    }
}